.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: 600;
  color: #bbb;
  margin-bottom: 10px;
  display: -webkit-box
}

.desc {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 30px;
  font-weight: bold;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 20px 10px;
  color: #bbb;
  border: 3px solid beige;
  font-size: 20px;
  font-weight: bold;
}

.button {
  background-color: #53c28b;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px
}

.button:hover {
  background-color: #49b07d
}

.google {
  background-color: rgba(228, 97, 50, 0.72);

}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
}

.or {
  margin: 20px 0px;
}

.newAccount {
  text-decoration: dotted;
  border: none;
  border-bottom: 1px solid gainsboro;
}